
.main{
	 height: 100vh;
        width: 100%;
        background:#e7ebef;
        display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

.form{
	 height: auto;
    width: 320px;

   border-radius: 6px;
    background-color: #FFF;
    border-style:  groove ;
    border-color: #d1d1e6;
    margin-left: 25px;
    margin-right: 25px;
}

.header{
margin: 15px;


}

.btn{
 height: 35px;
    width: 75px;
margin-left: 210px;
  background-color: #9393e2;
 color: #FFF;
   border-radius: 6px;

}

.input{
margin-top: 20px;
    margin-left: 27px;
    border-radius: 6px;
   width: 250px;
    height: 30px;
}


.output{

 
   margin-left: 27px;
}